<div class="message-list" #messageList>
  @if (store.loading()) {
    <div class="message-list__spinner">
      <mat-spinner diameter="40" />
    </div>
  } @else if (store.error()) {
    <p class="message-list__error">{{ store.error() }}</p>
  } @else if (!visibleMessages().length) {
    <p class="message-list__empty">
      @if (searchQuery()) {
        No messages match your search
      } @else {
        No messages yet. Say hello!
      }
    </p>
  } @else {
    @for (msg of visibleMessages(); track msg.id; let i = $index) {
      <app-message-item
        [message]="msg"
        [showMeta]="showMeta(i)"
        [isGrouped]="isGrouped(i)"
        [compactBottom]="isFollowedByGrouped(i)"
        (update)="updateMessage($event)"
        (delete)="deleteMessage($event)"
      />
    }
  }
</div>
